<menu class="social-media-share">
    <a href="https://plus.google.com/u/0/101567838795271250154/posts" class="icon-googleplus" rel="external" title="Google+"></a>
    <a href="https://github.com/CaMnter" class="icon-github" rel="external" title="GitHub"></a>
    <a href="yuanyu.camnter@gmail.com" class="icon-mail" rel="external" title="Gmail"></a>
    <a href="#" class="icon-feed" rel="external" title="RSS Feed"></a>
</menu>
